.payment_input__input {
    width: 100%;
    margin-bottom: 16px;
}

.payment_values {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
    }

    .payment_value {
        margin-right: 10px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background: #f1f1f1;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        cursor: pointer;
        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
}

.payment_input {
    margin-bottom: 44px;
}
