* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.modal_bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.63) 0%, rgba(70, 70, 70, 0.63) 100%), #fff;
}

.dmb,
.dmf {
    display: none !important;
}

@media (max-width: 767px) {
    .dd {
        display: none !important;
    }
    .dmb {
        display: block !important;
    }
    .dmf {
        display: flex !important;
    }
}

/* анимации */

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
